.despre-titlu {
    width: 100%;
    height: 50vh;
    background-color: #141e4c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.despre-titlu h1 {
    font-size: 3.5rem;
    color: #eaeaea;
}

@media only screen and (max-width:768px) {
    .despre-titlu h1 {
        font-size: 2rem;
    }
}

/* SECTIUNE CARDURI */

.card-trainer {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 100%;
    min-height: 350px;
    padding: 0.5rem;
    margin-top: calc(2 * 2.625rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.card-trainer img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    filter: grayscale(100);
    overflow: hidden;
    margin-top: -70px;
    z-index: 1;
}

.card-trainer h3 {
    background-color: #141e4ce6;
    color: #fbb44c;
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    z-index: 2;
    overflow: hidden;
    margin-bottom: 1rem;
    margin-top: -25px;
    font-weight: 400;
}

.card-trainer h3{
    padding: 0.25rem;
}

/* AICI INCEPE SECTIUNEA DE GRID-URI */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px auto);
    grid-gap: 1rem;
    padding-bottom: 1.75rem;
}

/* MEDIA QUERY PENTRU GRID-URI */

@media only screen and (max-width:992px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width:768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width:576px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}